@use '../../../../StylesVariables/Colors.scss' as c;
@use '../../../../StylesVariables/Fonts.scss' as f;
@use '../../../../StylesVariables/Sizes.scss' as s;

.detailpage {

    &-details {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: s.$big_size;

        &-info {
        
            &-h3 {
                animation-duration: 3s;
                animation-name: slidetitle;
                color: c.$light_green;
                font-size: s.$big_size + 10px;
                margin-bottom: s.$margin_little;
            }
    
            &-p {
                font-family: f.$text;
                font-size: s.$big_size - 5px;
                font-weight: bold;
            }
    
            &-ul {
                list-style: none;
                margin-left: 10px;
                padding: 0px;
                }
                
                &-li{
                    font-family: f.$text;   
                    font-size: 22px; 
                }

                ul li::before {
                content: "\2022";  
                color: c.$light_green; 
                display: inline-block; 
                font-size: s.$big_size_before;
                line-height: s.$big_size;
                padding-right: s.$padding_boxes;
                vertical-align: -11px;
                width: s.$medium_size;
                }
            
        }
    }


   

    @keyframes slidetitle {
        from {
            margin-left: 100%;
            width: 300%;
        }

        to {
            margin-left: 0%;
            width: 100%;
        }
    }


}