$light_green: #2beec1;
$dark_blue: #2c5364;
$blue_black: #203a43;
$dark_black: #0f2027;

$gradient_background: linear-gradient(to bottom, #2c5364,#203a43,#0f2027);

$grey-boxes: #f3f3f3;

$white_shadow: #ffffffea;
