@use '../../../StylesVariables/Colors.scss' as c;
@use '../../../StylesVariables/Fonts.scss' as f;
@use '../../../StylesVariables/Sizes.scss' as s;

.buttonback {
    background-color: c.$white_background;
    border: s.$no_pixel;
    
    
    &-container {
        align-items: center;
        display: flex;
        font-size: s.$medium_size;
        font-weight: bold;
    }
    
    img{
        height: s.$big_size;
        width: s.$big_size;
    }
}

