@use '../../../StylesVariables/Colors.scss' as c;
@use '../../../StylesVariables/Fonts.scss' as f;
@use '../../../StylesVariables/Mixins.scss' as m;
@use '../../../StylesVariables/Sizes.scss' as s;

.list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: s.$padding_boxes;
    

    &-items {
        @include m.card;
        align-items: center;
        background: c.$gradient_background;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        display: flex;
        font-size: s.$big_size - 5px;
        justify-content: space-between;
        margin: s.$medium_size - 5px;
        padding: s.$medium_size - 5px;;
        transition:
        background 0.5s  ease-in-out,
        font-size  0.5s  ease-in-out;        
        width: 40%;


        &-h4{
            padding: 5px!important;
            margin-left: s.$big_size;
        }

        &-p{
            font-family: f.$title_pokemon;
            font-weight: bold;
            margin-right: s.$big_size;
        }
        
    }
    &-items:hover {
        background: c.$light_green;
        color:  c.$grey-boxes ;
        font-size: s.$big_size - 5px;
    }  
}

